# Binning

**Binning** is process of dividing values of numeric attribute into groups/buckets, to reduce computations and minimize the effects of small observation errors.

**2 Methods of Binning:**
1. Equal Depth/Frequency Binning (Quantile-based discretization) : bins have equal frequency.
2. Equal Width/Distance Binning (Uniform Discretization) : bins have equal width with a range of each bin are defined as [min + w], [min + 2w] …. [min + nw] where w = (max – min) / (no of bins).

![image.png]()



---

##### Data

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [5]:
dataset_path = 'drive/My Drive/path-to-dataset-in-drive-filesystem/BankChurners.csv'

In [3]:
import pandas as pd

https://www.kaggle.com/sakshigoyal7/credit-card-customers

In [6]:
df = pd.read_csv(dataset_path)
df

       CLIENTNUM  ... Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0      768805383  ...                                           0.999910
1      818770008  ...                                           0.999940
2      713982108  ...                                           0.999980
3      769911858  ...                                           0.999870
4      709106358  ...                                           0.999980
...          ...  ...                                                ...
10122  772366833  ...                                           0.999810
10123  710638233  ...                                           0.004729
10124  716506083  ...                                           0.002118
10125  717406983  ...                                           0.003294
10126  714337233  ...                                           0.003377

[10127 rows x 23 columns]

In [ ]:
df['Customer_Age'].describe()

count    10127.000000
mean        46.325960
std          8.016814
min         26.000000
25%         41.000000
50%         46.000000
75%         52.000000
max         73.000000
Name: Customer_Age, dtype: float64

In [ ]:
df['Customer_Age'].value_counts()

44    500
49    495
46    490
45    486
47    479
43    473
48    472
50    452
42    426
51    398
53    387
41    379
52    376
40    361
39    333
54    307
38    303
55    279
56    262
37    260
57    223
36    221
35    184
59    157
58    157
34    146
60    127
33    127
32    106
65    101
61     93
62     93
31     91
26     78
30     70
63     65
29     56
64     43
27     32
28     29
67      4
66      2
68      2
73      1
70      1
Name: Customer_Age, dtype: int64



---

##### Equal-Frequence Binning (Auto)

In [ ]:
df['Customer_Age_b1'] = pd.qcut(df['Customer_Age'], q=4)

In [ ]:
df['Customer_Age_b1']

0          (41.0, 46.0]
1          (46.0, 52.0]
2          (46.0, 52.0]
3        (25.999, 41.0]
4        (25.999, 41.0]
              ...
10122      (46.0, 52.0]
10123    (25.999, 41.0]
10124      (41.0, 46.0]
10125    (25.999, 41.0]
10126      (41.0, 46.0]
Name: Customer_Age_b1, Length: 10127, dtype: category
Categories (4, interval[float64]): [(25.999, 41.0] < (41.0, 46.0] < (46.0, 52.0] < (52.0, 73.0]]

In [ ]:
df['Customer_Age_b1'].describe()

count              10127
unique                 4
top       (25.999, 41.0]
freq                2776
Name: Customer_Age_b1, dtype: object

In [ ]:
df['Customer_Age_b1'].value_counts()

(25.999, 41.0]    2776
(46.0, 52.0]      2672
(41.0, 46.0]      2375
(52.0, 73.0]      2304
Name: Customer_Age_b1, dtype: int64

Bins Labeling

In [ ]:
age_b2_labels = ['Maturity', 'Manhood', 'Old', 'Aging']

In [ ]:
df['Customer_Age_b2'] = pd.qcut(df['Customer_Age'], q=4, labels=age_b2_labels)

In [ ]:
df['Customer_Age_b2']

0         Manhood
1             Old
2             Old
3        Maturity
4        Maturity
           ...
10122         Old
10123    Maturity
10124     Manhood
10125    Maturity
10126     Manhood
Name: Customer_Age_b2, Length: 10127, dtype: category
Categories (4, object): ['Maturity' < 'Manhood' < 'Old' < 'Aging']

In [ ]:
df['Customer_Age_b2'].describe()

count        10127
unique           4
top       Maturity
freq          2776
Name: Customer_Age_b2, dtype: object

In [ ]:
df['Customer_Age_b2'].value_counts()

Maturity    2776
Old         2672
Manhood     2375
Aging       2304
Name: Customer_Age_b2, dtype: int64



---

##### Equal-Width Binning

Auto

In [ ]:
df['Customer_Age_b3'] = pd.cut(df['Customer_Age'], bins=4)

In [ ]:
df['Customer_Age_b3']

0          (37.75, 49.5]
1          (37.75, 49.5]
2          (49.5, 61.25]
3          (37.75, 49.5]
4          (37.75, 49.5]
              ...
10122      (49.5, 61.25]
10123      (37.75, 49.5]
10124      (37.75, 49.5]
10125    (25.953, 37.75]
10126      (37.75, 49.5]
Name: Customer_Age_b3, Length: 10127, dtype: category
Categories (4, interval[float64]): [(25.953, 37.75] < (37.75, 49.5] < (49.5, 61.25] < (61.25, 73.0]]

In [ ]:
df['Customer_Age_b3'].describe()

count             10127
unique                4
top       (37.75, 49.5]
freq               5197
Name: Customer_Age_b3, dtype: object

In [ ]:
df['Customer_Age_b3'].value_counts()

(37.75, 49.5]      5197
(49.5, 61.25]      3218
(25.953, 37.75]    1400
(61.25, 73.0]       312
Name: Customer_Age_b3, dtype: int64

Bins Labeling

In [ ]:
age_b4_labels = ['Maturity', 'Manhood', 'Old', 'Aging']

In [ ]:
df['Customer_Age_b4'] = pd.cut(df['Customer_Age'], bins=4, labels=age_b4_labels)

In [ ]:
df['Customer_Age_b4']

0         Manhood
1         Manhood
2             Old
3         Manhood
4         Manhood
           ...
10122         Old
10123     Manhood
10124     Manhood
10125    Maturity
10126     Manhood
Name: Customer_Age_b4, Length: 10127, dtype: category
Categories (4, object): ['Maturity' < 'Manhood' < 'Old' < 'Aging']

In [ ]:
df['Customer_Age_b4'].describe()

count       10127
unique          4
top       Manhood
freq         5197
Name: Customer_Age_b4, dtype: object

In [ ]:
df['Customer_Age_b4'].value_counts()

Manhood     5197
Old         3218
Maturity    1400
Aging        312
Name: Customer_Age_b4, dtype: int64



---

##### Manual Defined Ranges Binning

In [7]:
age_b5_labels = ['Maturity', 'Manhood', 'Old', 'Aging']

In [20]:
age_bins = [25, 30, 45, 60, 75]

In [21]:
df['Customer_Age_b5'] = pd.cut(df['Customer_Age'], bins=age_bins, labels=age_b5_labels)

In [22]:
df['Customer_Age_b5']

0         Manhood
1             Old
2             Old
3         Manhood
4         Manhood
           ...
10122         Old
10123     Manhood
10124     Manhood
10125    Maturity
10126     Manhood
Name: Customer_Age_b5, Length: 10127, dtype: category
Categories (4, object): ['Maturity' < 'Manhood' < 'Old' < 'Aging']

In [23]:
df['Customer_Age_b5'].describe()

count     10127
unique        4
top         Old
freq       5061
Name: Customer_Age_b5, dtype: object

In [24]:
df['Customer_Age_b5'].value_counts()

Old         5061
Manhood     4396
Aging        405
Maturity     265
Name: Customer_Age_b5, dtype: int64

Auto

In [25]:
df['Customer_Age_b6'] = pd.cut(df['Customer_Age'], bins=age_bins)

In [26]:
df['Customer_Age_b6'].value_counts()

(45, 60]    5061
(30, 45]    4396
(60, 75]     405
(25, 30]     265
Name: Customer_Age_b6, dtype: int64



---

##### Resources

https://www.geeksforgeeks.org/binning-in-data-mining/  
https://pbpython.com/pandas-qcut-cut.html  
https://www.geeksforgeeks.org/ml-binning-or-discretization/  
https://cmdlinetips.com/2019/12/how-to-discretize-bin-a-variable-in-python/  
https://subscription.packtpub.com/book/data/9781838552862/1/ch01lvl1sec09/data-discretization  
https://machinelearningmastery.com/discretization-transforms-for-machine-learning/